*{
    background-color: antiquewhite;
}
h1,h2,h3{
    color:brown;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}
p{
    text-indent: 2rem;
}
#list1{
    color:#900;
    background-color: #B1B2FF;
}
#list2{
    color: aqua;
    background-color:salmon;
}
.maks{
    background-color:aqua;
}